<!DOCTYPE html>
<html>
  <head>
    <title>Rock or Not</title>
    <% include head %>
<!--     <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
  	<% include navbar %>
    <h1>Rock or Not</h1>
  </body>
</html>
